.container-fluid {
  background-color: white;
}
.navbar-brand > img {
  height: 60px;
  width: 70px;
}
.card {
  width: 400px;
  height: 120px;
  margin-top: 50px;
  padding: 20px;
}
.container {
  justify-content: start;
  align-items: start;
}
form {
  display: flex;
  flex-direction: column;
}
#card_dropdowns {
  height: 150px;
  padding: 20px;
}
#select2 {
  margin-top: 5px;
  margin-bottom: 5px;
}
