#cards1,
#cards2 {
  justify-content: center;
  margin-top: 20px;
}
.card{
  height: 300px;
  width: 18rem;
  
}
.container-fluid {
  background-color: white;
}
.navbar-brand > img {
  height: 60px;
  width: 70px;
}
.card__image{
  width: 100%;
}
.card__image1{
  width: 100%;
  
}

